:root {
    --with-board: 500px;
    --fr-size: 75px; /* Định nghĩa biến --fr-size và gán giá trị là 1fr */
    font-size: 15px;
}

body{
    margin: 0;
    overflow: hidden;
}
.header{
    display: flex;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 50px;
    background-color: rgb(0 0 0 / 81%);
    color: whitesmoke;
    padding: 5px;
}


.header-title{
    flex-grow: 1;
    display: flex;
}
.header_title-item{
    margin: auto;
    margin-left: 10px ;
    display: flex;
    font-size: 1.5rem;
}
.header-nav{
    flex-grow: 3;
    display: flex;
    justify-content: center;
}

.header_nav-item{
    margin: auto 30px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 20px;
    width: 170px;
    background-color: #1b1a1a;

}

.header_nav-item:hover{
    background-color: #317874;
    cursor: pointer;
}

.header_nav-itemImg{
    width: 25%;
}

.header_nav-itemTxt{
    padding: 12px 5px;
}
.header-infor{
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
}

.header_infor-item{
    margin: auto 12px;
}

.header_infor-github{
    margin-right: 24px;

}
/* ------------------------main--------------------------- */
.main {
    display: flex;
}

/* .main>div{
    
} */
.main-container-left {
    width: 25%;
    background-color: rgb(0 0 0 / 67%);
    color: whitesmoke;
    padding-top: 10px;

    overflow-y: hidden;

}
.left_grid-radio{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}
input[name='grid-radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[name='grid-radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.left_start-container{
    display: flex;
    justify-content: space-around;
    background-color: #0a9909;
    color: whitesmoke;
    padding: 1rem;
    margin-top: 0.5rem;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.left_start-container:hover{
    background-color: #4ca24c;
    cursor: pointer;
}
.start-visualization{
    
}
#left_startBtn{

}
.left_grid-size{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255 255 255 / 52%);
    /* border-radius: 1rem; */
    color: black;
    padding: 1rem;
    margin: 2rem 0;
    /* box-shadow: 0px 0px 3px 2px rgba(255, 254, 254, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19); */
}
#boardSize{
    width: 90%;
    background-color: white;
}
.main-container-center{
    width: 48%;
}

.main-container-center-board{
    margin: 0px  auto;
    display: flex;
    justify-content: center;
}
.main-container-right{
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100vh;

}

.container-right-option{
    
    
    display: flex;
    justify-content: space-between;
}

.control_steps{
    display: flex;
    justify-content: space-around;
    background-color: #0000002e;
    color: grey;
    margin-top: 0.5rem;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.steps-icon{
    font-size: 1.7rem;
    padding: 0.7rem;
}

.option_items{
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    /* border: 1px solid; */
    background-color: #d7deb7;
    width: 49%;
    text-align: center;
    font-size: 1.1rem;
    color: black;
    margin-bottom: 0.2rem;
}
.option_items:hover{
    /* background-color: rgb(0 0 0 / 67%);
    color: whitesmoke; */
    opacity: 0.5;
    cursor: pointer;
}
.option_items-selected{
    background-color: rgb(0 0 0 / 67%);
    color: whitesmoke;
    border: 1px;
}
.number{
    font-size: 3rem;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    /* margin-top: auto;
    margin-bottom: auto; */
}

.control_container{
    /* margin: 10px 20px; */
}

#persudo-code, #log-code{
    height: 50vh;
    width: 100%;
    overflow: scroll;
    /* margin-top: 1.5rem; */
    overflow-x: hidden;
    background-color: #1ab594;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.psd-container{
    padding: 10px;
}
.psdtxt{
    margin: 0px;
}
.hl-code {
    background-color: #777;
}


.speed_container {
    height: auto;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px 0px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    /* background: #c2cebc; */
    /* border: 1px solid greenyellow; */
    /* border-top: 1px solid white;*/

    /* box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }
  
.speed_container input {
    margin-top: 3px;
    width: 85%;
  }

.speed_text{
    /* text-transform: uppercase; */
    font-size: 1.2rem;
    color:black;
}

.hidden-on{
    display: none !important;
}

@media only screen and (max-width: 1100px) {
    :root{
        --with-board: 300px;
        --fr-size: 40px; /* Định nghĩa biến --fr-size và gán giá trị là 1fr */
        font-size: 15px;
    }
  }
  