:root {
    --with-board: 500px;
    --fr-size: 75px; /* Định nghĩa biến --fr-size và gán giá trị là 1fr */
    font-size: 15px;
}

body{
    margin: 0;
    overflow: hidden;
}
.header{
    display: flex;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 50px;
    background-color: rgb(0 0 0 / 81%);
    color: whitesmoke;
    padding: 5px;
}


.header-title{
    width: 25%;
    display: flex;
}
.header_title-item{
    margin: auto;
    margin-left: 10px ;
    display: flex;
    font-size: 1.5rem;
}
.header-nav{
    width: 48%;
    display: flex;
    justify-content: center;
}

.header_nav-item{
    margin: auto 30px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    border-radius: 20px;
    width: 170px;
    background-color: #1b1a1a;

}

.header_nav-item:hover,.header_nav-item-activated{
    background-color: #317874;
    cursor: pointer;
}

.header_nav-itemImg{
    width: 25%;
}

.header_nav-itemTxt{
    padding: 12px 5px;
}
.header-infor{
    width: 35%;
    display: flex;
    justify-content: flex-end;
}

.header_infor-item{
    margin: auto 12px;
}

.header_infor-github{
    margin-right: 24px;

}

.fa-github:hover,fa-info-circle:hover{
    cursor: pointer;
}
/* ------------------------main--------------------------- */
.main {
    display: flex;
}

/* .main>div{
    
} */
.main-container-left {
    width: 25%;
    background-color: rgb(0 0 0 / 67%);
    color: whitesmoke;
    padding-top: 10px;

    overflow-y: hidden;

}
.left_grid-radio{
    margin-top: 1rem;
    display: flex;
    justify-content: space-around;
}
input[name='grid-radio']:after,input[name='grid-radioK']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[name='grid-radio']:checked:after,input[name='grid-radioK']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
.left_start-container{
    display: flex;
    justify-content: space-around;
    background-color: #0a9909;
    color: whitesmoke;
    padding: 1rem;
    margin-top: 0.5rem;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.left_start-container:hover{
    background-color: #4ca24c;
    cursor: pointer;
}

.left_grid-size{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255 255 255 / 52%);
    /* border-radius: 1rem; */
    color: black;
    padding: 1rem;
    margin: 2rem 0;
    /* box-shadow: 0px 0px 3px 2px rgba(255, 254, 254, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19); */
}
.left_playControl{
    display: flex;
    justify-content: space-between;
    /* border-radius: 1rem; */
    color: black;
    margin: 2rem 0;
}
.left_playControl-item{
    background-color: rgb(207 245 213 / 52%);
    /* border-radius: 1rem; */
    color: black;
    padding: 1rem;
    width: 41%;
    text-align: center;
    box-shadow: 0px 0px 3px 2px rgba(84, 190, 126, 0.2), 0 6px 20px 0 rgbrgba(255, 255, 255, 0.19);
    border: 1px solid rgb(22, 35, 4);

}
.left_playControl>div:hover,.left_playControl-play-Activated{
    background-color: #317874;
    color: whitesmoke;
    cursor: pointer;
}
/* .left_playControl-play{
    border-right: 1px solid black;
}
.left_playControl-clear{
    border-left: 1px solid black;
} */
/*-----------------------------------------------main------------------------------------*/
#boardSize,#boardSizeK,#boardSizeMK{
    width: 90%;
    background-color: white;
}
.main-container-center{
    width: 48%;
}

.main-container-center-board{
    margin: 0px  auto;
    display: flex;
    justify-content: center;
}
.main-container-right{
    border-left: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 35%;
    height: 100vh;

}

.container-right-option{
    
    
    display: flex;
    justify-content: space-between;
}

.control_steps{
    display: flex;
    justify-content: space-around;
    background-color: #0000002e;
    color: grey;
    margin-top: 0.5rem;
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.steps-icon{
    font-size: 1.7rem;
    padding: 0.7rem;
}

.option_items{
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    /* border: 1px solid; */
    background-color: #d7deb7;
    width: 49%;
    text-align: center;
    font-size: 1.1rem;
    color: black;
    margin-bottom: 0.2rem;
}
.option_items:hover{
    /* background-color: rgb(0 0 0 / 67%);
    color: whitesmoke; */
    opacity: 0.5;
    cursor: pointer;
}
.option_items-selected{
    background-color: rgb(0 0 0 / 67%);
    color: whitesmoke;
    border: 1px;
}



#persudo-code,#persudo-codeK,#log-codeK, #log-code{
    height: 50vh;
    width: 100%;
    overflow: scroll;
    /* margin-top: 1.5rem; */
    overflow-x: hidden;
    background-color: #1ab594;
    color: rgb(255, 255, 255);
    box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.psd-container{
    padding: 10px;
}
.psdtxt{
    margin: 0px;
}
.hl-code {
    background-color: #777;
}


.speed_container {
    height: auto;
    border-radius: 10px;
    margin-top: 5px;
    padding: 10px 0px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
    align-items: center;
    /* background: #c2cebc; */
    /* border: 1px solid greenyellow; */
    /* border-top: 1px solid white;*/

    /* box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  }
  
.speed_container input {
    margin-top: 3px;
    width: 85%;
  }

.speed_text{
    /* text-transform: uppercase; */
    font-size: 1.2rem;
    color:black;
}

.hidden-on{
    display: none !important;
}

/*--------------------------------notification popup-----------------------------------*/
.toast__container {
    position: fixed;
    display: table-cell;
    vertical-align: middle;
    top: 0rem;
    right: 2vw;
}

.toast__cell{
  display:inline-block;
}

.add-margin{
  margin-top:20px;
}

.toast__svg{
  fill:#fff;
}

.toast {
  text-align:left;
    padding: 21px 0;
    background-color:#fff;
    border-radius:4px;
    max-width: 500px;
    top: 0px;
    position:relative;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.2);
}


.toast:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
  border-top-left-radius:4px;
  border-bottom-left-radius: 4px;

}

.toast__icon{
  position:absolute;
  top:50%;
  left:22px;
  transform:translateY(-50%);
  width:14px;
  height:14px;
  padding: 7px;
  border-radius:50%;
  display:inline-block;
}

.toast__type {
  color: #3e3e3e;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 8px;
}

.toast__message {
    font-size: 14px;
    margin-top: 0;
  margin-bottom: 0;
    color: #000000;
}

.toast__content{
  padding-left:70px;
  padding-right:60px;
}

.toast__close {
    position: absolute;
    right: 22px;
    top: 50%;
    width: 14px;
    cursor:pointer;
    height: 14px;
  fill:#878787;
    transform: translateY(-50%);
}

.toast--green .toast__icon{
  background-color:#2BDE3F;
}

.toast--green:before{
  background-color:#2BDE3F;
}

.toast--blue .toast__icon{
  background-color:#1D72F3;
}

.toast--blue:before{
  background-color:#1D72F3;
}

.toast--red .toast__icon{
  background-color:#ff1c07;
}

.toast--red:before{
    background-color:#ff1c07;
}

.progress-bar {
    height: 5px;
    width: 100%;
    background-color:#2BDE3F;
    opacity: 0.4;
    position: absolute;
    bottom: 0;
}

/* information */
.infor-container {
    position: fixed;
    display: flex;
    justify-content: center;
    padding-top: 8%;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999999;
}

.infor_card {
    font-family: "Courier New", Courier, monospace;
    color: #2b3c4d;
    background-color: #f0ecf7;
    width: 40%;
    padding: 30px;
    border-radius: 10px;
    position: relative;
}

.close {
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    padding: 9px 12px;
    background-color: rgb(216, 123, 123);
  }
  
.close:hover {
    background-color: rgb(231, 19, 19);
}
  
@media only screen and (max-width: 1100px) {
    :root{
        --with-board: 300px;
        --fr-size: 40px; /* Định nghĩa biến --fr-size và gán giá trị là 1fr */
        font-size: 15px;
    }
  }
  