

.chess-board {
    display: grid;
    grid-template-columns: repeat(var(--sizeM), calc(var(--with-board)/var(--sizeM))); /* Số cột được thay đổi = biến sizeM */
    grid-template-rows: repeat(var(--size), calc(var(--with-board)/var(--size))); /* Số hàng được thay đổi = biến size */
    width: var(--with-board);
    height: var(--with-board);
    border: 2px solid black;
}

.chess-square {
    /* position: relative; */
    width: 100%;
    height: 100%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* font-size: 20px; */
}
.chess-squareK{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.black {
    background-color: #109116;
    color: white;
}

.white {
    background-color: white;
    color: black;
}

.chess-piece {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
     transition: transform 0.3s ease-in-out;
      /*Thêm animation cho di chuyển */
}


.chess-square img {
    max-width: 100%;
    max-height: 100%;

}
.knight_asoblute{
    position: absolute;
    z-index: 1;
}
.relative_position{
    position: relative;
}

#draggable-queen {
    cursor: grab;
  }
  
  #draggable-queen:active {
    cursor: grabbing;
  }

  .chess-piece {
    max-width: 100%;
    max-height: 100%;
  }


/* CSS để tạo thanh số */
.number-column {
    display: flex;
    width: var(--with-board);
    margin: 0 auto;
    margin-top: 1rem;
}
.number-columnKnight{
    display: flex;
    width: var(--with-board);
    margin: 0 auto;
    margin-top: 1rem;
}
.number-cell-col {
    text-align: center;
    font-size: 1.5rem;
    width:calc(var(--with-board)/var(--sizeM)) ;
    margin: 1rem auto 1rem auto;
    padding-left: 2rem;
}

.number-row{
    flex-direction: column;
    display: flex;
    height: var(--with-board);
    width: 2rem;
    
}
.number-rowKnight{
    flex-direction: column;
    display: flex;
    height: var(--with-board);
    width: 2rem;
}

.number-cell-row {
    flex-direction: column;
    justify-content: center;
    display: flex;
    height: calc(var(--with-board)/var(--size));
    font-size: 1.5rem;
    margin-right: 1rem;
}

.number{
    font-size: 3rem;
    width: 100%;
    text-align: center;
    /* left: 50%; */
    /* transform: translateX(-50%); */
    /* margin-top: auto;
    margin-bottom: auto; */
}
.square-highlight{
    background-color: crimson;
}

.square-highlightHover{
    background-color: gray;
}